$lightgreen : #b9e7e7;
html {
  margin: auto 0;
}

.app {
  display: flex;
  justify-content: center;

  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit
    }
    //LOGIN & REGISTER
    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $lightgreen;

    }

    h1 {
      font-size: 20px;
      color: teal;
      margin-bottom: 20px;

    }

    form {
      display: flex;
      flex-direction: column;
      padding: 50px;
      background-color: white;
      width: 200px;
      gap: 20px;

      input {
        padding: 10px;
        border: none;
        border-bottom: 1px solid gray;

      }

      button {
        padding: 10px;
        border: none;
        background-color: teal;
        color: white;
        cursor: pointer;

      }

      p {
        font-style: 12px;
        color: red;
        text-align: center;

      }

      span {
        font-style: 12px;
        text-align: center;
      }
    }

    //NAVBAR
    .navbar {
      .container {
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {

          img {
            height: 220px;
            width: 230px;
          }
        }

        .links {
          display: flex;
          gap: 10px;
          align-items: center;

          .link {
            h6 {
              font-size: 16px;
              font-weight: 300;
            }
          }
          
          .span {
            cursor: pointer;

          }

          .write {
            background-color: $lightgreen;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid white;
            text-decoration: none;


            &:hover{
              color: teal;
              background-color: white;
              border: 1px solid teal;
            }
          }
        }
      }
    }

    //FOOTER

    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: $lightgreen;
      text-align: center;
    }

    //HOME

    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .post {
          display: flex;
          gap: 100px;

          &:nth-child(2n+1){
            flex-direction: row-reverse;
          }

          .img {
            flex: 2;

            img {
              width: 100%;
              height: 400px;
            }
          }

          .content {
            flex: 3;

            .link {
              h1 {

              }

              p{

              }
              button {

              }
            }
          }
        }
      }
    }
  }
}
